#set($taskService="vm/task_service.vm")
#set($taskWorker="vm/task_worker.vm")
<html>
<head>
    <title>后台操作</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- select2 -->
    <link href="/static/select2/css/select2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/select2/css/select2-bootstrap.css" rel="stylesheet" type="text/css"/>

    <!-- jquery -->
    <script type="text/javascript" src="/static/js/jquery/jquery-1.11.2.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
    <!-- select2 -->
    <script type="text/javascript" src="/static/select2/select2.min.js" ></script>
    <script type="text/javascript" src="/static/select2/select2_locale_zh-CN.js" ></script>
</head>
<body>
<!-- head start -->
<section class="content-header">
    <h1>后台操作
        <small>操作</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)" class="myGoHome"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">欢迎光临</li>
    </ol>
</section>
<!-- head end -->
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#tab-service" data-toggle="tab">
            Service
        </a>
    </li>
    <li>
        <a href="#tab-worker" data-toggle="tab">
            Worker
        </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="tab-worker">
        #parse($taskWorker)
    </div>
    <div class="tab-pane fade in active" id="tab-service">
        #parse($taskService)
    </div>
</div>
</body>
</html>