<!-- table star -->
<div class="row col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <section class="content">
                <!-- 查询表单 -->
                <div class="box box-success">
                    <div class="box-body">
                        <form id="queryForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-1">应用分组：</label>
                                <div class="col-sm-2">
                                    <select name="appGroup" class="form-control">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                                <label class="control-label col-sm-1" style="padding-left: 1px;">业务类型：</label>
                                <div class="col-sm-2">
                                    <select name="serGroup" class="form-control">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-1">service：</label>
                                <div class="col-sm-2">
                                    <select id="serviceId" name="serviceName" class="form-control">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                                <label class="control-label col-sm-1" style="padding-left: 1px;">method：</label>
                                <div class="col-sm-2">
                                    <select id="methodId" name="methodName" class="form-control">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-header">
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="tn">索引</th>
                                    <th>Service</th>
                                    <th>method</th>
                                    <th>方法描述</th>
                                    <th>应用分组</th>
                                    <th>业务类型</th>
                                    <th>类描述</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="box box-success">
                    <div class="box-body">
                        <form id="paramForm" class="form-horizontal">
                        </form>
                    </div>
                    <div class="box-header">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- table end -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="serviceModalLabel">执行结果</h4>
            </div>
            <div class="modal-body">
                <div class="control-group" id="resultMsg"><pre id="out_pre"></pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript" src="static/tasks/task_service.js"></script>